/** content+sidebar styles **/
/* aside#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}

aside#sidebar li ul li a {
	text-decoration:none;
	font-weight:bold;
} */
/** content+Search Styles **/
.searchTerm {
  float: left;
  width: 90%;
  border: 1px solid #f99600;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
}
.searchButton {
  position:absolute;
  width: 50px;
  height: 30px;
  border: 1px solid #f99600;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 2%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}/** content+sidebar styles **/
aside#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}

aside#sidebar li ul li a {
	text-decoration:none;
	font-weight:bold;
}
/** content+Search Styles **/
.searchTerm {
  float: left;
  width: 90%;
  border: 1px solid #f99600;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
}
.searchButton {
  position:absolute;
  width: 50px;
  height: 30px;
  border: 1px solid #f99600;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}